<?xml version="1.0"?> 
<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch"> 
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="recording" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <param name="use_gui" value="true" />
  <param name="robot_description" command="$(find xacro)/xacro.py $(find robotiq_arg85_description)/urdf/robotiq_arg85_description.urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model robotiq_arg85" />
  <!--node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args="-file $(find robotiq_arg85_description)/urdf/robotiq_arg85_description.xacro -urdf -model robotiq_arg85" output="screen"/-->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />  
  <include file="$(find robotiq_arg85_description)/launch/gripper_control.launch"/>
</launch>
